#
# This source file is part of the Stanford Spezi open source project
#
# SPDX-FileCopyrightText: 2026 Stanford University and the project authors (see CONTRIBUTORS.md)
#
# SPDX-License-Identifier: MIT
#

# Server
APP_ENVIRONMENT=development
LOG_LEVEL=info

# Server Database
DATABASE_NAME=spezistudyplatform
DATABASE_USERNAME=spezistudyplatform
DATABASE_PASSWORD=spezistudyplatform
DATABASE_HOST=localhost

# Keycloak
KEYCLOAK_REALM=spezistudyplatform
KEYCLOAK_CLIENT_ID=spezistudyplatform-server
KEYCLOAK_CLIENT_SECRET=dev-server-secret
KEYCLOAK_RESEARCHER_ROLE=spezistudyplatform-researcher
KEYCLOAK_PARTICIPANT_ROLE=spezistudyplatform-participant
KEYCLOAK_URL=http://localhost:8180
